@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    overflow: hidden;
    display: flex;
    height: 100vh;
    overflow: auto;
    color: hsla(0, 0%, 95%, 0.75);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

article{
    max-width: 278px;
    height: 450px;
    padding: 42px;
    position: relative;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

img{
    margin-bottom: 36px;
}
h1{
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 36px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 1.5rem;
}

p{
    color: hsl(0, 0%, 95%);
    font-size: 13.8px;
    line-height: 1.5rem;
}

button{
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 14px;
    width: 146px;
    border-radius: 25px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    font-family: inherit;
    transition: all 0.2s ease-in-out;
    bottom: 42px;
}
.sedan button{
    background: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}
.suvs button{
    background: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}
.luxury button{
    background: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}
button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
button:active{
    transform: scale(0.9);
}
@media only screen and (max-width: 844px){
    body{
        display: flex;
        overflow: scroll;
        flex-wrap: wrap;
        width: 100%;
    }
    main{
        flex-direction: column;
        padding: 50px 0;
    }
    .sedan{
        border-radius: 7px 7px 0 0;
    }
    .luxury{
        border-radius: 0 0 7px 7px;
    }
    p{
        font-size: 0.77rem;
    }
}